@import './common.scss';

.paperDetails{
    .modalListPage{
        margin-bottom: 10px;
    }
    .modalListLeft{
        width: 80px;
        justify-content: flex-start;
        font-size: 14px;
    }
    .paperScore{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        margin-bottom: 10px;
        background-color: color-E5E5E5(.5);
        border: 1px solid color-black(.2);
        border-radius: 8px;
    }
    .paperScoreLeft{
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    .paperScoreLeftItem{
        margin-right: 15px;
    }
    .scoreBtn{
        margin-left: 15px;
    }
}
