@import './common.scss';

.examManage{
    .ant-table-cell-fix-right{
        white-space: nowrap;
    }
    .color1F67A1{
        color: color-1F67A1();
    }
    .color41bb19{
        color: color-41bb19();
    }
    .lineFeed{
        text-align: left;
        white-space: normal;
    }
}
.examManageLookQEcode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .ant-image-img{
        width: 100%;
    }
}
